    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <%=  render "layouts/slider" %>
            <%  render "layouts/block_green" %>
            
             <!--
             <div class="row">
              <div class="span4">
                  
                    <div class="icon-box-2">
                      
                        <i class="ifc-flag_filled"></i>
                        
                        <div class="icon-box-content">
                          
                            <h3 class="text-uppercase text-center">
                              <a href="#">Lorem ipsum dolor</a>
                            </h3>
                            
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus integer mus dignissim feugiat urna congue.</p>
                            
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-2 --
                    
                </div><!-- end .span4 --
                <div class="span4">
                  
                    <div class="icon-box-2">
                      
                        <i class="ifc-idea_filled"></i>
                        
                        <div class="icon-box-content">
                          
                            <h3 class="text-uppercase text-center">
                              <a href="#">Ipsum dolor sit amet</a>
                            </h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                            
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-2 --
                    
                </div><!-- end .span4 --
                <div class="span4">
                  
                    <div class="icon-box-2">
                      
                        <i class="ifc-folder_filled"></i>
                        
                        <div class="icon-box-content">
                          
                            <h3 class="text-uppercase text-center">
                              <a href="#">Dolor sit amet</a>
                            </h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-2 --
                    
                </div><!-- end .span4 --
            </div><!-- end .row --
            //-->
            <div class="row">
              <div class="span12">
                  
                    <h3 class="headline">
                      <span>Товарна Біржа Подільська</span>
                    </h3>
                    
                </div><!-- end .span12 --
            </div><!-- end .row --
            <!--
             <div class="row">
              <div class="span6">
                  
                    <div class="icon-box-1">
                                    
                        <i class="ifc-copy"></i>
                        
                        <div class="icon-box-content">
                            
                            <h2>
                                <a href="#">This is awesome!</a>
                            </h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                            incididunt. magna aliqua.</p>
                        
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-1 --
                    
                    <p class="hidden-tablet">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                    beatae vitae dicta sunt explicabo. </p>
                    
                    <p class="text-right">
                      <a class="btn btn-green-dark" href="#">read more</a>
                    </p>
                    
                </div><!-- end .span6 --
                <div class="span6">
                  
                    <div class="portfolio-item">
            
                        <div class="portfolio-item-preview">      
                        
                            <a href="#">
                               <%= image_tag "content/portfolio/460x265-2.png" %>
                            </a>
                            
                            <div class="portfolio-item-overlay">
                            
                                <div class="portfolio-item-overlay-actions">
                                    
                                    <a class="magnificPopup-gallery portfolio-item-zoom" href="content/portfolio/460x265-2.png" title="zoom">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                    
                                    <a class="portfolio-item-link" href="#" title="zoom">
                                        <i class="ifc-link"></i>
                                    </a>
                                
                                </div><!-- end .portfolio-item-overlay-actions --
                                
                                <div class="portfolio-item-description hidden-tablet">
                        
                                    <h4 class="text-uppercase">Portfolio Item</h4>
                                    <p>Description</p>
                                
                                </div><!-- end .portfolio-item-description --
                            
                            </div><!-- end .portfolio-item-overlay --
                        
                        </div><!-- end .portfolio-item-preview --
                        
                    </div><!-- end .portfolio-item --
                    
                </div><!-- end .span6 --
            </div><!-- end .row --
            //-->
            
            <!--
            <div class="row">
              <div class="span3">
                  
                    <div class="portfolio-item">
            
                        <div class="portfolio-item-preview">      
                        
                            <a href="#">
                                <%= image_tag "content/portfolio/220x217-1.png" %>
                            </a>
                            
                            <div class="portfolio-item-overlay">
                            
                                <div class="portfolio-item-overlay-actions">
                                    
                                    <a class="magnificPopup-gallery portfolio-item-zoom" href="content/portfolio/220x217-1.png" title="zoom">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                    
                                    <a class="portfolio-item-link" href="#" title="zoom">
                                        <i class="ifc-link"></i>
                                    </a>
                                
                                </div><!-- end .portfolio-item-overlay-actions --
                                
                                <div class="portfolio-item-description hidden-tablet">
                        
                                    <h4 class="text-uppercase">Portfolio Item</h4>
                                    <p>Description</p>
                                
                                </div><!-- end .portfolio-item-description --
                            
                            </div><!-- end .portfolio-item-overlay --
                        
                        </div><!-- end .portfolio-item-preview --
                        
                    </div><!-- end .portfolio-item --
                    
                </div><!-- end .span3 --
                <div class="span3">
                  
                    <div class="portfolio-item">
            
                        <div class="portfolio-item-preview">      
                        
                            <a href="#">
                                <%= image_tag "content/portfolio/220x217-5.png" %>
                            </a>
                            
                            <div class="portfolio-item-overlay">
                            
                                <div class="portfolio-item-overlay-actions">
                                    
                                    <a class="magnificPopup-gallery portfolio-item-zoom" href="content/portfolio/220x217-5.png" title="zoom">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                    
                                    <a class="portfolio-item-link" href="#" title="zoom">
                                        <i class="ifc-link"></i>
                                    </a>
                                
                                </div><!-- end .portfolio-item-overlay-actions --
                                
                                <div class="portfolio-item-description hidden-tablet">
                        
                                    <h4 class="text-uppercase">Portfolio Item</h4>
                                    <p>Description</p>
                                
                                </div><!-- end .portfolio-item-description --
                            
                            </div><!-- end .portfolio-item-overlay --
                        
                        </div><!-- end .portfolio-item-preview --
                        
                    </div><!-- end .portfolio-item --
                    
                </div><!-- end .span3 --
                <div class="span3">
                  
                    <div class="portfolio-item">
            
                        <div class="portfolio-item-preview">      
                        
                            <a href="#">
                                <%= image_tag "content/portfolio/220x217-2.png" %>
                            </a>
                            
                            <div class="portfolio-item-overlay">
                            
                                <div class="portfolio-item-overlay-actions">
                                    
                                    <a class="magnificPopup-gallery portfolio-item-zoom" href="content/portfolio/220x217-2.png" title="zoom">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                    
                                    <a class="portfolio-item-link" href="#" title="zoom">
                                        <i class="ifc-link"></i>
                                    </a>
                                
                                </div><!-- end .portfolio-item-overlay-actions --
                                
                                <div class="portfolio-item-description hidden-tablet">
                        
                                    <h4 class="text-uppercase">Portfolio Item</h4>
                                    <p>Description</p>
                                
                                </div><!-- end .portfolio-item-description --
                            
                            </div><!-- end .portfolio-item-overlay --
                        
                        </div><!-- end .portfolio-item-preview --
                        
                    </div><!-- end .portfolio-item --
                    
                </div><!-- end .span3 --
                <div class="span3">
                  
                    <div class="portfolio-item">
            
                        <div class="portfolio-item-preview">      
                        
                            <a href="#">
                                <%= image_tag "content/portfolio/220x217-6.png" %>
                            </a>
                            
                            <div class="portfolio-item-overlay">
                            
                                <div class="portfolio-item-overlay-actions">
                                    
                                    <a class="magnificPopup-gallery portfolio-item-zoom" href="content/portfolio/220x217-6.png" title="zoom">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                    
                                    <a class="portfolio-item-link" href="#" title="zoom">
                                        <i class="ifc-link"></i>
                                    </a>
                                
                                </div><!-- end .portfolio-item-overlay-actions --
                                
                                <div class="portfolio-item-description hidden-tablet">
                        
                                    <h4 class="text-uppercase">Portfolio Item</h4>
                                    <p>Description</p>
                                
                                </div><!-- end .portfolio-item-description --
                            
                            </div><!-- end .portfolio-item-overlay --
                        
                        </div><!-- end .portfolio-item-preview --
                        
                    </div><!-- end .portfolio-item --
                    
                </div><!-- end .span3 --
            </div><!-- end .row --
            //-->
      <br><br>
            
            <!--
            <div class="row">
              <div class="span8">
                  
                    <div class="icon-box-1">
                                    
                        <i class="ifc-brain_filled"></i>
                        
                        <div class="icon-box-content">
                            
                            <h2>
                                <a href="#">Sapphire is the key to success</a>
                            </h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                        
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-1 --
                    
                </div><!-- end .span8 --
            </div><!-- end .row --
            //-->
            <br>
            
            <div class="row">
              <div class="span5">
                
                  <!--<p><%= image_tag "content/index/300x300.png", class: "responsive-img" %></p> //-->
                
                </div><!-- end .span5 -->
                <div class="span7">
                
                  <!--<h2>Need Asistance?<br class="visible-phone"> Let us know!</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    //-->
                    
                    <ul class="check">  
                      <li>Проводить торги на принципах публічності і рівноправності всіх учасників, об'єктивного формування рівня цін</li>
                        <li>Інформаційні послуги по рівню цін на біржових торгах товарних бірж України, світових ринках</li>
                        <li>Консультативні послуги по правилах торгівлі, членства на біржі, з питань приватизації </li>
                        <li>Послуги по навчанню брокерів біржовій торгівлі</li>
                        <li>Експертна оцінка майна</li>
                    </ul>
                
                </div><!-- end .span7 -->
            </div><!-- end .row -->
            
            <br><br><br>
            
            <!--
            <div class="box" style="background-image:image-url("content/backgrounds/bg-box-2.jpg");">
              
                <div class="row">
                  <div class="span12">
                      
                        <br><br>
                        
                        <h1 class="text-center last">Who we&acute;ve <strong>worked</strong> with</h1>
                        
                        <br><br>
                        
                    </div><!-- end .span12 --
                </div><!-- end .row --
                
                <div class="box-overlay">
                  
                    <div class="row">
                        <div class="span12">
                        
                          <br><br>
                            
                            <ul class="client-logo">
                                <li>
                                    <%= image_tag "content/index/logo/180x55-1.png" %>
                                </li>
                                <li>
                                    <%= image_tag "content/index/logo/180x55-2.png" %>
                                </li>
                                <li>
                                    <%= image_tag "content/index/logo/180x55-3.png" %>
                                </li>
                                <li>
                                  <%= image_tag "content/index/logo/180x55-4.png" %>
                                </li>
                                <li>
                                    <%= image_tag "content/index/logo/180x55-5.png" %>
                                </li>
                                <li>
                                    <%= image_tag "content/index/logo/180x55-6.png" %>
                                </li>
                                <li class="hidden-tablet">
                                    <%= image_tag "content/index/logo/180x55-7.png" %>
                                </li>
                                <li class="hidden-tablet">
                                    <%= image_tag "content/index/logo/180x55-8.png" %>
                                </li>
                            </ul>

                        </div><!-- end .span12 --
                    </div><!-- end. row --
                    
                </div><!-- end .box-overlay --
                
            </div><!-- end .box --
            //-->
            <!--
            <div class="row">
              <div class="span8">
                  
                    <div class="icon-box-1">
                                    
                        <i class="ifc-user_male"></i>
                        
                        <div class="icon-box-content">
                            
                            <h3>
                                <strong><a href="#">Retina Ready</a></strong>
                            </h3>
                            
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
                            beatae vitae dicta sunt explicabo. </p>
                        
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-1 --
                    
                    <div class="icon-box-1">
                                    
                        <i class="ifc-upload_filled"></i>
                        
                        <div class="icon-box-content">
                            
                            <h3>
                                <strong><a href="#">Optimized for Devices</a></strong>
                            </h3>
                            
                            <p>Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                        
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-1 --
                    
                    <div class="icon-box-1">
                                    
                        <i class="ifc-unlock"></i>
                        
                        <div class="icon-box-content">
                            
                            <h3>
                                <strong><a href="#">Easy to Customize</a></strong>
                            </h3>
                            
                            <p>Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur 
                            magni dolores eos qui ratione voluptatem sequi nesciunt</p>
                        
                        </div><!-- end .icon-box-content --
                        
                    </div><!-- end .icon-box-1 --
                    
                </div><!-- end .span8 --
                <div class="span4 text-right">
                    <%= image_tag "content/index/245x375.png", class: "responsive-img" %>
                </div><!-- end .span4 --
            </div><!-- end .row --
            //-->
            
            <!--
            <div class="box-2" style="margin-bottom:-50px;">
              
                <div class="row">
                  <div class="span12">
                    
                      <ul class="timeline-2">
                          <li class="time">
                              2005
                            </li>
                            <li>
                              <i class="ifc-umbrella"></i>
                                First Releaase
                            </li>
                            <li class="time">
                              2009
                            </li>
                            <li>
                              <i class="ifc-clock"></i>
                                +500 Clients
                            </li>
                            <li class="time">
                              2011
                            </li>
                            <li>
                              <i class="ifc-student_filled"></i>
                                IOS Launch
                            </li>
                            <li class="time">
                              2013
                            </li>
                            <li class="time">
                              2014
                            </li>
                        </ul>
                    
                    </div><!-- end .span12 --
                </div><!-- end .row --
                
            </div><!-- end .box --</h1>
            //-->
