<% provide(:title, "Аукціон з необробленої деревини" ) %>
<div id="page-header">
  <div class="row">
    <div class="span12">
      <h2>Аукціон з необробленої деревини</h2>
    </div>
    <!-- end .span12 -->
  </div><!-- end .row -->
</div><!-- end #page-header -->

<div class="row">
  <div class="span12"> 
    <h3 class="headline" style="margin-bottom: 5px;"><span>Аукціон з необробленої деревини</span></h3>
      <!-- "Регламент організації та проведення аукціонів з продажу
необробленої деревини на товарній біржі «Подільська»" //-->
      
      <%= link_to_page 6 %>
     
      <!-- Положення про організацію та проведення аукціонів з продажу необробленої деревини //-->
      <%= link_to_page 7 %>

      <!-- Оголошення про проведення додаткового аукціону //-->
      <%= link_to_page 8 %>

      <!-- Оголошення про проведення аукціону //-->
      <%= link_to_page 9 %>
      <!-- Пропозиції з продажу //-->
      <%= propoz @propozs %>

      <!-- Пропозиції щодо кроку лотів на аукционах на 1 метр куб.  //-->
      <%= link_to_page 11 %>







    </div>
  </div>
<br>
    