<% provide(:title, 'Біржовий бюлетень') %>
<!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <div id="page-header">
              
                <div class="row">
                  <div class="span12">
                      
                        <h2>Біржовий бюлетень</h2>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                
            </div><!-- end #page-header -->
        

<table class="table-bordered table-striped alt">
<thead>
<tr>    
    <th width="30%">Біржові аукціони</th>
    <th width="100px">Дата проведення</th>
    <th>Подробиці аукціону</th>
</tr> 
</thead>   
<% @auctions.each do |a| %>
<tr>
   <td><%= link_to a.name,auction_path(a) %></td>
   <td><h2><%= a.started_time_at %></h2><%= a.started_at_date %></td>
   <td><%= a.details.html_safe() if a.details.present? %><br>
        Початкова ціна продажу: <%= "%.2f" % a.cina %> грн.
   </td>    
</tr>
<% end %>
</table>
<%= will_paginate @auctions, previous_label: "Назад",next_label: "Вперед" %>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
