<% provide(:title, 'Біржовий бюлетень') %>
<!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <div id="page-header">
              
                <div class="row">
                  <div class="span12">
                      
                        <h2>Біржовий бюлетень</h2>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                
            </div><!-- end #page-header -->
      

<% @auctions.each do |a| %>
<div class="row">

    <div class="span12">
        <h3 class="headline" style="margin-bottom: 5px;">
            <span><%= link_to a.name,auction_path(a) %></span>
        </h3>
        <div class="span4">
          <ul class="circle">
            <li>Дата проведення торгів: <%= a.started_at_date %></li>
            <li>Ціна: <%= "%.2f" % a.cina %> грн.</li>
          </ul>
          <%= link_to "Читати далі", auction_path(a.id), class: "btn btn-green-dark" %>
        </div>
    </div>
    
</div>
<br>
<% end %>
<%= will_paginate @auctions, previous_label: "Назад",next_label: "Вперед" %>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
