<h2>Новини</h2>
<%= will_paginate @articles, previous_label: "Назад",next_label: "Вперед" %>
<table class="table table-striped table-bordered">
<tr>
	<td style="width:20px">№</td>
	<td>Назва</td>
	<td style="width:80px"><%= link_to bootstrap_icon(:add), new_admin_article_path, :class => 'btn' %></td>	
</tr>

<% i = @start_num %>
<% @articles.each do |a| %>
<tr>
<td><%= i += 1 %></td>
<td><%= unless a.auction_enable 
    a.title 
  else 
    "<span class='italic'>Пререліз: <span>".html_safe+a.auction.name
  end %>
</td>
<td>
	<%= link_to bootstrap_icon(:show), admin_article_path(a) %>
	<%= link_to bootstrap_icon(:edit), edit_admin_article_path(a) %>
	<%= link_to bootstrap_icon(:destroy), admin_article_path(a), :method => :delete, :data => { :confirm => 'Знищити?' } %>
</td>
</tr>
<% end %>

</table>
<%= will_paginate @articles, previous_label: "Назад",next_label: "Вперед" %>