<h2>Категорії</h2>
<%= will_paginate @category, previous_label: "Назад",next_label: "Вперед" %>
<table class="table table-striped table-bordered">
<tr >
	<td style="width:20px">№</td>
	<td>Назва</td>
	<td style="width:80px" align="center"><%= link_to bootstrap_icon(:add), new_admin_category_path, :class => 'btn' %></td>	

</tr>

<% i = @start_num %>
<% @category.each do |a| %>
<tr >
<td><%= i += 1 %></td>
<td><%= a.name %></td>
<td align="center">
	<%= link_to bootstrap_icon(:edit), edit_admin_category_path(a) %>
	<%= link_to bootstrap_icon(:destroy), admin_category_path(a), :method => :delete, :data => { :confirm => 'Знищити?' } %>
</td>
</tr>
<% end %>

</table>
<%= will_paginate @category, previous_label: "Назад",next_label: "Вперед" %>