<% provide(:title, 'Авторизація') %>
            <div id="page-header">
                <div class="row">
                  <div class="span12">
                        <h2>Авторизація</h2>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                
            </div><!-- end #page-header -->
<div class="row">
  <div class="span12">
    <h3 class="headline-2" style="margin-bottom: 5px;"><span>Авторизація</span></h3>
    
<div class="form_auth_main">
<div class="form_auth">
  <br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password,"Пароль" %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, style: "float:left;"  %>
      <%= f.label :remember_me, "Запам'ятати мене" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Увійти", class: "btn btn-large btn-green-light", style: "width:210px" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
<br>
</div></div>
