<h2>Статуси</h2>
<%= will_paginate @status %>
<table class="table table-striped table-bordered">
<tr>
	<td style="width:20px">№</td>
	<td>Назва</td>
	<td style="width:80px" align="center"><%= link_to bootstrap_icon(:add), new_admin_status_path, :class => 'btn' %></td>	

</tr>

<% i = @start_num %>
<% @status.each do |a| %>
<tr>
<td><%= i += 1 %></td>
<td><%= a.name %></td>
<td align="center">
	<%= link_to bootstrap_icon(:edit), edit_admin_status_path(a) %>
	<%= link_to bootstrap_icon(:destroy), admin_status_path(a), :method => :delete, :data => { :confirm => 'Знищити?' } %>
</td>
</tr>
<% end %>

</table>
<%= will_paginate @status %>