<% provide(:title, 'Контакти') %>
<%= render layout: "feedback/feedback_index" do %>
                
                  <h3>Зворотній зв'язок</h3>
                    
                    <br>
                  
                  <%= form_for(@feedback,:as => 'feedback',url: feedback_index_path) do |f| %>
                        <fieldset>
                            
                            <div id="formstatus"></div>
                          
                            <div class="row">
                              <div class="span3">
                                
                                <%= f.text_field :name, placeholder: "Ім'я" %>
                                </div><!-- edd .span3 --> 
                              <div class="span3">
                                  <%= f.text_field :email, placeholder: "e-mail"  %>                             
                                </div><!-- edd .span3 --> 
                                <div class="span3">
                                  <%= f.text_field :phone, placeholder: "Телефон",data: { "rule-required" => true, "msg-required" => "Введіть будь-ласка номер телефону"}  %>
                                </div><!-- edd .span3 --> 
                            </div><!-- end .row -->
                            <%= f.text_area :text, placeholder: "Текст повідомлення", rows: 10, cols: 25, class: "span9"  %>                            
                             <%= f.submit " Надіслати повідомлення ", class: "btn-green-dark float-right" %>
                      </fieldset>
                    <% end %>
<% end %>
                