   <div class="row">
        <div class="span3">
        
          <!-- // Logo // -->
          <%= link_to (image_tag "logo1.png", class: "responsive-img"), :root, id: "logo"%>

        </div><!-- end .span3 -->
        <div class="span9">
        
                  <!-- // Mobile menu trigger // -->
                  <a href="#" id="mobile-menu-trigger">
                      <i class="fa fa-bars"></i>
                    </a>
                    
          <!-- // Menu // -->
          <ul class="sf-menu" id="menu">
           <li class="current">
                          <%= link_to "Про Біржу", page_path(1) %>
                <ul>
                  <li>
                    <%= link_to "Керівництво", page_path(12) %>
                  </li>

                  <li>
                    <%= link_to "Зворотній зв'язок", feedback_index_path %>
                  </li>
                  <li>
                    <%= link_to "Контакти", '#' %>
                  </li>
              </ul>
            </li>


            <li class="current">
                          <%= link_to "Новини", articles_path %>
                                       
            </li>
            

            <li class="current">
                          <%= link_to "Законодавство", page_path(2) %>
                                      
            </li>

            <li class="current">
                          <%= link_to "Торги і аукціони", :root %>
                <ul>
                  <li>
                          <%= link_to "Аукціон з необробленої деревини", "/untreatedwood" %>
                          <ul>
                            <li><%= link_to "Результати аукціону з необробленої деревини", result_index_path %></li>
                          </ul>
                  </li>                  

                  <li>
                          <%= link_to "Біржовий бюлетень", auction_index_path %>
                  </li>
                  <li>
                          <%= link_to "Електронні біржові торги", "/etorgy" %>
                  </li>

                </ul>
                                       
            </li>
                                       

            <li class="current">
                          <%= link_to "Експертна оцінка майна", page_path(3) %>
            </li>
           

            
          </ul>

        </div><!-- end .span9 -->
      </div><!-- end .row -->   
