<div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
                
                  <ul>
                      <li data-transition="fade">
                          
                            <%= image_tag "content/index/slider/1920x547-1.jpg" %>
                            <div class="caption title sft" 
                                data-x="0"  
                                data-y="100" 
                                data-speed="700" 
                                data-start="2000" 
                                data-easing="easeOutBack">
                                WE are <strong>the best</strong><br>
                                for your business!
                            </div>
                            
                            <div class="caption text sfl" 
                                data-x="0" 
                                data-y="250" 
                                data-speed="700" 
                                data-start="2500" 
                                data-easing="easeOutBack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit pharetra urna, at<br> 
                                pharetra nisl vehicula lacinia phasellus suscipit vulputate felis nulla ac<br> 
                                aliquet lorem etiam mauris lacus. 
                            </div>
                            
                            <div class="caption icons-1 sfb" 
                                data-x="0" 
                                data-y="350" 
                                data-speed="700" 
                                data-start="2800" 
                                data-easing="easeOutBack">
                                Graphic Desigh
                                <span>
                                  <i class="ifc-right"></i>
                                </span>
                            </div>
                            
                            <div class="caption icons-2 sfb" 
                                data-x="150" 
                                data-y="350" 
                                data-speed="700" 
                                data-start="3000" 
                                data-easing="easeOutBack">
                                Airbrushing
                                <span>
                                  <i class="ifc-hearts"></i>
                                </span>
                            </div>
                            
                            <div class="caption icons-3 sfb" 
                                data-x="300" 
                                data-y="350" 
                                data-speed="700" 
                                data-start="3200" 
                                data-easing="easeOutBack">
                                Web Design
                                <span>
                                  <i class="ifc-speech_bubble_filled"></i>
                                </span>
                            </div>
                            
                            <div class="caption fade" 
                                data-x="600" 
                                data-y="0" 
                                data-speed="700" 
                                data-start="1600" 
                                data-easing="easeOutBack">
                                <%= image_tag "content/index/slider/slide-person-1.png" %>
                                <%= image_tag "content/index/slider/slide-person-1.png" %>
                            </div>
                            
                        </li>
                        <li data-transition="fade">
                        
                          <%= image_tag "content/index/slider/1920x547-2.jpg" %>

                            
                            <div class="caption bg fade"
                                data-x="0" 
                                data-y="0"
                                data-speed="700" 
                                data-start="2000" 
                                data-easing="easeOutBack">
                            </div>

                            <div class="caption sub-title sft"
                                data-x="50"  
                                data-y="70" 
                                data-speed="700" 
                                data-start="2100" 
                                data-easing="easeOutBack">
                                Lorem ipsum <strong>dolor sit</strong> amet.
                            </div>
                            
                            <div class="caption text sft"
                                data-x="50"  
                                data-y="120" 
                                data-speed="700" 
                                data-start="2400" 
                                data-easing="easeOutBack"
                                style="color:#474e5d;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit pharetra<br> 
                                    urna, at pharetra nisl vehicula lacinia phasellus suscipit vulputate<br> 
                                    felis nulla ac aliquet lorem etiam mauris lacus.
                            </div>
                            
                            <div class="caption sfl" 
                                data-x="50" 
                                data-y="235" 
                                data-speed="700"  
                                data-start="3100" 
                                data-easing="easeOutBack">
                                <%= image_tag "content/index/slider/slide-2.png" %>
                            </div>
                            
                            <div class="caption text sfb"
                                data-x="250"  
                                data-y="255" 
                                data-speed="700" 
                                data-start="3600" 
                                data-easing="easeOutBack">
                                <ul class="square">
                                    <li>Sed ut perspiciatis unde omnis </li>
                                    <li>Lorem ipsum dolor sit consectetur</li>
                                    <li>Donec suscipit erat sed nisl adipiscin</li>
                                    <li>Nunc eu felis vel leo fermentum </li>
                                    <li>Integer commodo felis mollis purus</li>
                                </ul>
                            </div>
                            
                            <div class="caption sfb"
                                data-x="250"  
                                data-y="455" 
                                data-speed="700" 
                                data-start="3800" 
                                data-easing="easeOutBack">
                                <a class="btn btn-black" href="#">read more</a>
                            </div>

                            <div class="caption fade" 
                                data-x="600" 
                                data-y="0" 
                                data-speed="700"  
                                data-start="1600" 
                                data-easing="easeOutBack">
                                <%= image_tag "content/index/slider/slide-person-2.png" %>
                            </div>
                                
                        </li>
                        <li data-transition="fade">
                        
                          <%= image_tag "content/index/slider/1920x547-3.jpg" %>
                            
                            <div class="caption title sft"
                                data-x="150"  
                                data-y="65" 
                                data-speed="700" 
                                data-start="1600" 
                                data-easing="easeOutBack"
                                style="font-size:36px;">
                                We are <span>the best</span> for your business!
                            </div>
                            
                            <div class="caption sfb" 
                                data-x="250" 
                                data-y="190" 
                                data-speed="700"  
                                data-start="2200" 
                                data-easing="easeOutBack">
                               <%= image_tag "content/index/slider/slide-3.png" %>
                            </div>
                            
                            <div class="caption icons-1 alt sfl" 
                                data-x="100" 
                                data-y="300" 
                                data-speed="700" 
                                data-start="2800" 
                                data-easing="easeOutBack">
                                Graphic Desigh
                                <span>
                                  <i class="ifc-right"></i>
                                </span>
                            </div>
                            
                            <div class="caption icons-2 alt sft" 
                                data-x="700" 
                                data-y="150" 
                                data-speed="700" 
                                data-start="3200" 
                                data-easing="easeOutBack">
                                Airbrushing
                                <span>
                                  <i class="ifc-hearts"></i>
                                </span>
                            </div>
                            
                            <div class="caption icons-3 alt sfb" 
                                data-x="800" 
                                data-y="350" 
                                data-speed="700" 
                                data-start="3600" 
                                data-easing="easeOutBack">
                                Web Desigh
                                <span>
                                  <i class="ifc-speech_bubble_filled"></i>
                                </span>
                            </div>
                      
                        </li>
                    </ul>
                
                </div><!-- end .fullwidthbanner -->
            </div><!-- end .fullwidthbanner-container -->
            