<!DOCTYPE html>
<html class="no-js">
<head>
  <%= render "layouts/head" %>
</head>
<body>

	<!--[if lte IE 8]>
        <p class="browser-update">
        	You are using an <strong>outdated</strong> browser. Please 
        	<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
		</p>
    <![endif]-->
 
	<div id="wrap">
      <%= render "layouts/header_top" %>
		<div id="header">
        
		<!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
        <%= render "layouts/menu"%>
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #header -->
		<div id="content">
		<%= yield %>
		</div><!-- end #content -->
<%= render "layouts/footer" %>


</body>
</html>
